
{% extends 'home_base.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav>
        
        
    </nav>

    <div class="slide-container">

         <div class="effect slide">
            <img src="{% static 'background1.avif' %}" alt="">
        </div>

        <div class="effect slide">
            <img src="{% static 'back7.jpg' %}" alt="">
        </div>

        <div class="effect slide">
            <img src="{% static 'back6.jpg' %}" alt="">
        </div>   
    </div>


    <div class="features">

        <div class="head">
            <h3>Featured Items</h3>
        </div>
        

        <div class="all--items">

            <div class="Card">
                <img src="{% static 'item1.jpg' %} " alt="Avatar" style="width:150px; height: 70%;">
                <div class="container">
                    <h4><b>Chair</b></h4>
                    <p>Condition:New</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p>Price:Ksh 1000</p>
                    
                </div>
            </div>

            <div class="Card">
                <img src="{% static 'item2.jpg' %}" alt="Avatar" style="width:150px; height: 70%;">
                <div class="container">
                    <h4><b>Chair</b></h4>
                    <p>Condition:New</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p>Price:Ksh 1000</p>
                </div>
            </div>

            <div class="Card">
                <img src="{% static 'item3.jpg' %}" alt="Avatar" style="width:150px; height: 70%;">
                <div class="container">
                    <h4><b>Chair</b></h4>
                    <p>Condition:New</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p>Price:Ksh 1000</p>
                </div>
            </div>

            <div class="Card">
                <img src="{% static 'item4.jpg' %}" alt="Avatar" style="width:150px; height:70%;">
                <div class="container">
                    <h4><b>Chair</b></h4>
                    <p>Condition:New</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p>Price:Ksh 1000</p>
                </div>
            </div>

            <div class="Card">
                <img src="{% static 'item5.jpg' %}" alt="Avatar" style="width:150px; height: 70%;">
                <div class="container">
                    <h4><b>Item:Chair</b></h4>
                    <p>Condition:New</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p>Price:Ksh 1000</p>
                </div>
            </div>

            <div class="Card">
                <img src="{% static 'item6.jpg' %}" alt="Avatar" style="width:150px; height: 70%;">
                <div class="container">
                    <h4><b>Chair</b></h4>
                    <p>Condition:New</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p>Price:Ksh 1000</p>
                </div>
            </div>
        
        </div>
    </div>

    <!-- services start -->
    <div class="service--head">
        <h3>Services to help you shop</h3>
    </div>
    <div class="all--services">
        

        <div class="main--services">

            <div class="services--1">
                
                <div class="faq--top">
                    <h3>Frequently Asked Questions</h3><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="faq--bot">

                </div>
            </div>

            <div class="services--2">
                <div class="opp--top">
                    <h3>Online Payment Process</h3><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="opp--bot"></div>
            </div>

            <div class="services--3">
                <div class="hd--top">
                    <h3>Home Delivery</h3><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="hd--bot"></div>
            </div> 
        </div>
    </div>

<!-- services end -->
<h2 class="posh--head"> Shop and sell with confidence</h2><br><br>
<div class="posh">
    
    <div class="posh1">
        <div class="posh1-1">
            <!-- <img src="shop1.svg" alt="" style="width: 150px; height: 150px;"> -->
        </div>
        <div class="posh1-2">
            <p><h2>Protected Payments</h2><br>
                If it &#39;s not what you ordered, we guarantee to give your money back.</p>
        </div>
    </div>

    <div class="posh1">
        <div class="posh2-1">
            <!-- <img src="shop1.svg" alt="" style="width: 150px; height: 150px;"> -->
        </div>
        <div class="posh1-2">
            <p><h2>Protected Payments</h2><br>
                If it &#39;s not what you ordered, we guarantee to give your money back.</p>
        </div>
    </div>

    <div class="posh1">
        <div class="posh3-1">
            <!-- <img src="shop1.svg" alt="" style="width: 150px; height: 150px;"> -->
        </div>
        <div class="posh1-2">
            <p><h2>Protected Payments</h2><br>
                If it &#39;s not what you ordered, we guarantee to give your money back.</p>
        </div>
    </div>                           
</div>



<!-- Footer start-->



 <script>
    var index = 0;
    show();

    function show(){
        var i;
        var slides = document.getElementsByClassName("slide");
        for(i=0; i<slides.length;i++){
            slides[i].style.display ="none";

        }
        index++;

        if(index>slides.length){
            index=1;
        }
        slides[index-1].style.display = "block";
        setTimeout(show, 5000);
    }
 </script>

{% endblock %}